<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="author" content="Callis Ezenwaka">
  <meta name="description"
    content="Callis Ezenwaka - Expert in Enterprise Cloud Applications, Data Privacy & Emerging Technologies. Researcher on AI Compliance & Ethics. Founder of Barestripe.com.">
  <meta name="keywords"
    content="Callis Ezenwaka, Enterprise Cloud Applications, Data Privacy, AI Ethics, Emerging Technologies, Compliance, OpenMined, Barestripe, Algoboard, Algoforms">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Callis Ezenwaka - Cloud, Data Privacy & AI Ethics">
  <meta property="og:description"
    content="I solve real-life problems using Emerging Technology and Enterprise Cloud Applications. Researcher on AI Compliance & Ethics.">
  <meta property="og:url" content="https://www.callisezenwaka.com">
  <meta property="og:image" content="./src/assets/images/callezenwaka.jpg">
  <!-- Replace with your actual profile image URL -->

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Callis Ezenwaka - Cloud, Data Privacy & AI Ethics">
  <meta name="twitter:description"
    content="I solve real-life problems using Emerging Technology and Enterprise Cloud Applications. Researcher on AI Compliance & Ethics.">
  <meta name="twitter:image" content="./src/assets/images/callezenwaka.jpg">
  <!-- Replace with your actual profile image URL -->

  <!-- Canonical URL -->
  <link rel="canonical" href="https://www.callisezenwaka.com">

  <!-- Favicon -->
  <link rel="icon" href="./src/assets/favicon.ico" type="image/x-icon">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="./src/assets/favicon.ico"> -->

  <!-- <link rel="stylesheet" href="style.css"> -->
  <!-- <link rel="stylesheet"  type="text/css; charset=utf-8" href="light.css" id="theme-style"> -->
  <title>Callis Ezenwaka</title>


  <link rel="manifest" href="app.webmanifest">
  <link rel="apple-touch-icon" href="./src/assets/images/apple-touch-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <link rel="stylesheet" href="./app.css">
</head>

<body>
  <header class="header">
    <div class="logo-item">
      <a class="logo-link" href="">
        <img class="logo" id="logo" src="./src/assets/images/callezenwaka.jpg" width="80" alt="Callis Ezenwaka profile">
        <!-- <img class="logo" src="./src/assets/images/callis.jpeg" width="80" alt="Callis Ezenwaka profile"> -->
      </a>
    </div>
    <nav>
      <a class="nav-link" id="link_home" href="/">
        Home
      </a>
      <a class="nav-link" id="link_event" href="/events">
        Events
      </a>
      <a class="nav-link" id="link_project" href="/projects">
        Projects
      </a>
      <span id="badge" hidden></span>
    </nav>
  </header>

  <main id="main">
  </main>

  <template id="home-page-template">
    <div class="home">
      <section class="heading">
        <h1 class="name">Callis Ezenwaka</h1>
        <!-- <img class="avatar" src="./src/assets/images/callezenwaka.jpg" alt="Callis Ezenwaka" type="image/jpg" title="Callis Ezenwaka"> -->
      </section>
  
      <section class="about">
        <p class="summary">
          I'm a scientist. I helped pioneer quantum computing and the
          modern open science movement. I also have a strong side
          interest in artificial intelligence. All are part of a broader
          interest in ideas and tools that help people think and create,
          both individually and
          collectively. [<!-- <a href="bio_michael_nielsen_06_2020.pdf">bio</a>, --> <a href="#">cv</a>]
        </p>
        <p class="summary">
          I'm a scientist. I helped pioneer quantum computing and the
          modern open science movement. I also have a strong side
          interest in artificial intelligence. All are part of a broader
          interest in ideas and tools that help people think and create,
          both individually and
          collectively. [<!-- <a href="bio_michael_nielsen_06_2020.pdf">bio</a>, --> <a href="#">cv</a>]
        </p>
        <p class="summary">
          I'm a scientist. I helped pioneer quantum computing and the
          modern open science movement. I also have a strong side
          interest in artificial intelligence. All are part of a broader
          interest in ideas and tools that help people think and create,
          both individually and
          collectively. [<!-- <a href="bio_michael_nielsen_06_2020.pdf">bio</a>, --> <a href="#">cv</a>]
        </p>
        <p class="summary">
          I'm a scientist. I helped pioneer quantum computing and the
          modern open science movement. I also have a strong side
          interest in artificial intelligence. All are part of a broader
          interest in ideas and tools that help people think and create,
          both individually and
          collectively. [<!-- <a href="bio_michael_nielsen_06_2020.pdf">bio</a>, --> <a href="#">cv</a>]
        </p>
  
        <p class="summary">
          I work as a Research Fellow at the Astera Institute. Many of my research papers can be found <a href="#">here</a>.
        </p>
  
      </section>
      <section class="interest-content">
        <p class="summary">
          My online notebook, including links to many of my recent and
          current projects, can be found <a href="#">here</a>.
        </p>
        <div class="interests" id="interests">
          <!-- <div class="tip" v-for="interest in interests" :key="interest.id">
            <span>{{ interest.name }}</span>
          </div> -->
        </div>
        <p class="summary">
          This is more up-to-date and complete than this webpage (which will
          eventually be deprecated). Want to hear about my projects as they're released? <a href="#">Please join my mailing
            list below:</a>.
        </p>
      </section>
      <section class="subscription">
        <form class="subscription--form">
          <div class="subscribe--item">
            <label for="email" class="">
              <input type="email" class="subscribe--input" name="email" id="email" v-model="email"
                placeholder="john.doe@mail.com" aria-required="true" aria-invalid="false" autocomplete="email" required>
            </label>
          </div>
          <div class="subscribe--item">
            <button type="submit" class="subscribe--button">Subscribe</button>
          </div>
        </form>
      </section>
    </div>
  </template>

  <template id="event-page-template">
    <section>
      <div id="event" class="event">
        <!-- <ul id="event--items"></ul> -->
      </div>
    </section>
  </template>

  <template id="event-page-details-template">
    <header>
      <a href="#" onclick="app.router.go('/'); event.preventDefault()">&lt; Back</a>
      <h2></h2>
      <a></a>
    </header>
    <img src="">
    <p class="description"></p>
    <p class="price"></p>
    <button>Add to cart</button>
  </template>

  <template id="project-page-template">
    <section>
      <div id="project" class="project">
        <!-- <ul id="project--items"></ul> -->
      </div>
    </section>
  </template>

  <template id="project-page-details-template">
    <li>
      <p class='qty'></p>
      <p class='name'></p>
      <p class='price'></p>
      <p class='toolbar'>
        <a href="#" class="delete-button">
          🗑️
        </a>
      </p>
    </li>
  </template>

  <footer class="footer">
		<span class="copy">Copyright &copy; </span>
    <span class="year" id="year"></span>	|  
		<span class="trademark">All right reserved.</span>
	</footer>

  <script type="module" src="./app.js"></script>
  <script type="module" src="./src/assets/script/theme.js"></script>
</body>

</html>