/* :root {
  --background-color: #1a1a1a;
  --text-color: #f2f2f2;
} */
:root {
  --background-color-primary: #222832;
  --background-color-secondary: #14181e;
  --background-color-tertiary: #000000;
  --background-color-danger: #ff0000;
  --background-color-success: #000000;
  --drop-shadow-primary: #646cffaa;
  --accent-color: #3f3f3f;
  --text-primary-color: #f3f4f5;
  --button-primary-color: #0F1216; /* #1d9bf0; #0040ff*/
  /* background-color: #000000; */
}

html, body {
  background-color: var(--background-color-secondary);
  color: var(--text-primary-color);
}

.active {
  background-color: var(--background-color-secondary);
}

.theme--svg {
  width: 1rem;
  fill: var(--text-primary-color);
}