/* :root {
  --background-color: #1a1a1a;
  --text-color: #f2f2f2;
} */
:root {
  --background-color-primary: #ebebeb;
  --background-color-secondary: #fafafa;
  --accent-color: #cacaca;
  --text-color-primary: #222;
  --element-size: 4rem;
}
html, body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
}

.theme--svg {
  width: 1rem;
  fill: var(--text-color-primary);
}